<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>
		<%= title %>
	</title>
	<link rel="stylesheet" href="css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<nav>

	</nav>

	<section class="col-xs-12" id="banner">
		<img src="https://via.placeholder.com/900" class="img-fluid" />
	</section>

	<section id="wedding-details">

	</section>

	<section id="hotel-rsvp">

	</section>

	<section id="itinerary">

	</section>

	<section id="registry">

	</section>

	<script type="text/javascript" src="js/bundle.js"></script>
</body>

</html>