@import "theme.scss";

#banner {
  margin-top: 0px;
  #title-box {
    color: azure;
    text-align: center;
    width: 300px;
    position: relative;
    top: 22%;
    left: 3%;
    position: absolute;
    top: 20%;
    left: 5%;

    #wedding-date {
      font-size: 35px;
      font-family: $secondary-font;
      text-shadow: 1px 1px 2px #000;
    }

    #main-title {
      font-family: $primary-font;
      color: azure;
      text-align: center;
      border: azure;
      border-width: 2px;
      border-style: solid none solid none;
      width: 300px;
      position: relative;
      top: 22%;
      left: 3%;
      padding: 15px 0px;
      text-shadow: 1px 1px 2px #000;

      p:first-child {
        font-size: 25px;
      }

      p:last-child {
        font-size: 48px;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
