body {
  max-width: 1280px;
  margin: auto;
}

.navbar {
  background-color: white;
  margin: 0px;
  .navbar-collapse {
    text-align: center;
  }
  .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  ul li {
    margin: 0px 50px 0px 50px;
  }
}

#logo {
  height: 50px;
  display: inline-block;
}

section {
  text-align: center;
}

.coming-soon {
  background-color: gray;
  color: white;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hotel-rsvp {
  .hotel {
    background-color: blue;
    &.row-end {
      border-left: 2px solid black;
    }
    .hotel-image-container {
      width: 100%;
      display: flex;
      align-content: center;
      justify-content: center;
      img {
        display: block;
        max-width: 300px;
        max-height: 200px;
        width: auto;
        height: auto;
      }
    }
    .hotel-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      .info-row:first-child {
        margin-top: 20px;
      }
      .info-row {
        width: 100%; // TODO: lower this on mobile
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .address {
          text-decoration: underline;
          cursor: pointer;
        }
        img {
          margin-right: 20px;
          height: 50px;
          width: 50px;
        }
      }
      .map-container {
        width: 100%;
        display: flex;
        justify-content: center;
        max-height: 0px;
        transition: max-height 0.5s ease-out;
        &.visible {
          margin-bottom: 20px;
          height: auto;
          max-height: 5000px;
          transition: max-height 0.75s ease-in;
        }
        .map {
          display: block;
          width: 80%;
          opacity: 0;
          transition: opacity 0.5s ease-out;
          height: 100%;
          &.visible {
            opacity: 1;
            transition: opacity 0.75s ease-in;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .navbar .navbar-nav {
    display: block;
  }
}
