@import "theme.scss";
@import "navbar.scss";
@import "banner.scss";
@import "hotel-rsvp.scss";
@import "itinerary.scss";

html {
  font-size: 20px;
}
body {
  font-family: $secondary-font;
  section {
    text-align: center;
    h1 {
      font-family: $primary-font;
      letter-spacing: $primary-letter-spacing;
    }
  }
  .coming-soon {
    background-color: gray;
    color: white;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
