@import "theme.scss";
@import "navbar.scss";
@import "banner.scss";
@import "hotel-rsvp.scss";
@import "itinerary.scss";
@import "wedding-details.scss";

html {
  font-size: 20px;
  scroll-behavior: smooth;
}
body {
  font-family: $secondary-font;
  color: $secondary-color;
  background-color: $background-color;
  section {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    h1 {
      font-family: $primary-font;
      letter-spacing: $primary-letter-spacing;
      color: $primary-color;
      margin-bottom: 40px;
    }
  }
  .coming-soon {
    background-color: #eee;
    color: $secondary-color;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      height: 40px;
    }
  }
  .footer {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: white;
    color: $primary-color;
    text-align: center;
  }
}
