$primary-font: Verdana, Geneva, Tahoma, sans-serif;
$primary-letter-spacing: 2.6px;
$secondary-font: Georgia;
$primary-color: blue;
$secondary-color: blue;
$background-color: #edeeef;
$sm-breakpoint: 768px;
